*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgba(27, 27, 27, 0.9); */
    scroll-behavior: smooth;
}
.header{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    /* background-color: rgb(238, 155, 45); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* transition: 0.5s; */
    z-index: 1;

}
.logo{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 10px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: -1;
}
ul{
    display: inline-block;
}
ul li{
    display: inline-block;
    padding: 0 10px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
ul li a:hover{
    border-bottom: 2px solid black;
}
#id_select{
    width: 65px;
}
.fa-bars{
    visibility: hidden;
}

/* ***************** search here  */
.search{
    padding: 5px 10px;
    border-radius: 20px;
    border-style: none;
    border: 1px solid black;
}
.search:focus{
    border: 1px solid black;
}
.main{
    max-width: 90%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 75vh;
    background-color: rgb(246, 168, 159);
    border-radius: 20px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    overflow: scroll;
}

/* **************    seconddd   ************** */
.second{
    width: 90%;
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    padding-top: 50px;
    position: relative;
    /* overflow: hidden; */
}
.intext{
    position: absolute;
    /* color: black; */
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px black;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}
.needed{
    text-align: center;
}

.rendom_img{
    width: 30%;
    /* height: 250px; */
    min-width: 170px;
    min-height: 170px;
    border-radius: 10px;
    padding: 10px;
    background-color: thistle;
    box-shadow: 10px 1px 1px rgba(0, 0, 0, 0.5);

}

.rendom_desc{
    background-color: thistle;
    width: 30%;
    min-width: 170px;
    min-height: 170px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 1px 1px rgba(0, 0, 0, 0.5);

}
.rendom_desc ul{
    background-color: turquoise;
}
.rendom_video{
    width: 28%;
    min-height: 170px;
    min-width: 170px;
    background-color: thistle;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 1px 1px rgba(0, 0, 0, 0.5);
}
IFRAME{
    width: 100%;
}
.next_btn{
    position: absolute;
    width: 10%;
    min-width: 60px;
    background-color: tomato;
    bottom: 20px;
    right: 20px;
    margin-top: 10px;
}

 /* **********  toggle class *******   */
.hide{
     visibility: hidden;
 }
 .active{
     visibility: visible;
 }


/* **************  java html ************* */
.dataa{
    width: 270px;
    background-color: rgb(249, 250, 250);
    margin: 10px 10px; 
    overflow: hidden;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.dataa:hover{
    transform: translateY(-5px);
}
.imgg{
    display: inline;
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
}
.btn{
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
    color: #fff;
    background-color: rgb(162, 114, 207);
}

                 /* second */


/* **************  footer  ************ */
.footer_baar{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding-top: 6px;
}

small{
    margin-right: 20px;
    color: silver;
}
.copyright_text{
    color: #fff;
    margin-top: 20px;
    letter-spacing: 1px;
}
.email_text{
    margin-top: 7px;
    padding-top: 10px;
    color: #fff;
}

/* *****************   media query  *************** */
@media(max-width:422px){
    .rendom_img{
        width: 100%;
        margin-top: 50px;
    }
    
    .rendom_desc{
        width: 100%;
        margin-top: 15px;
    }
    .rendom_video{
        width: 100%;
        margin-top: 15px;
    }
    IFRAME{
        width: 100%;
    }
}
 
@media(max-width:650px){
    .rendom_img{
        min-width: 50px;
        margin-top: 50px;
    }
    
    .rendom_desc{
        min-width: 50px;
        margin-top: 15px;
    }
    .rendom_video{
        min-width: 50px;
        margin-top: 15px;
    }
    IFRAME{
        width: 100%;
    }
} 

@media(max-width:752px){
    .header{
        visibility: hidden;
        display: flex;
        flex-direction: column;       
    }
    .headerrr{
        visibility: visible;
        width: 50%;
        height: 50vh;
        flex-wrap: wrap;
        background-color: #f5c5cc;
        border-radius: 20px;
        box-shadow: 10px 1px 1px 1px rgba(0, 0, 0, 0.3);
        /* z-index: 1; */
    }
    ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15%;
        left: 45%;
    }
    ul li{
        padding: 15px 0;
    }
    ul li a{
        color: black;
    }
    ul li a:hover{
        border-bottom: 1px solid black;
    }
    .logo{
        visibility: visible;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .fa-bars{
        visibility: visible;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
    }
    .search{
        width: 110px;
        position: absolute;
        top: 8%;
        left: 28%;
    }
    .search:focus{
        outline: none;
    }
    #id_select{
        position: absolute;
        top: 9.5%;
        left: 54%;
    }
    .main{
        margin-top: 60px;
    }
    .dataa{  
        min-width: 10px;
    }
}